.item-cupom {
    padding: 16px 0;
}
.item-cupom .linha-titulo,
.item-cupom .linha-item {
    display: flex;
    flex-direction: row;
}
.item-cupom .linha-titulo span {
    font-size: 0.9rem;
}
.item-cupom .linha-item span {
    font-size: 0.8rem;
}
.item-cupom .linha-titulo,
.item-cupom .linha-item {
    padding: 4px 0;
}
.item-cupom .linha-titulo {
    border-bottom: 1px dotted #927551;
    margin-bottom: 8px;
}
.item-cupom .col-descricao {
    width: 100%;
}
.item-cupom .col-qtdade {
    width: 100px;
    text-align: center;
}
.item-cupom .col-valor {
    width: 100px;
    text-align: right;
}
.item-cupom .col-total {
    width: 100px;
    text-align: right;
}