* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
#cupom {
    padding: 20px;
    background-color: #ffe4c4;
    max-width: 550px;
    border-radius: 5px;
    border: 1px solid #927551;
}
#cupom h1 {
    margin: 0px;
    margin-bottom: 8px;
}
#cupom h3 {
    font-weight: 300;
}