.rodape-cumpom {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    border-top: 1px dashed #927551;
    gap: 4px;
}
.rodape-cumpom .site {
    padding: 16px 0;
}
.rodape-cumpom p {
    margin-top: 16px;
    text-align: center;
}